.note-view {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-view__control {
  display: flex;
  gap: 4px;

  background: #fffae0;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 4px;
}

.note-view__view {
  flex: 1 0 0;
  min-height: 0;

  overflow: auto;
}

.note-view__view :first-child {
  margin-top: 0;
}
